@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Signup";
}

<style>
    /* log in and sign up page*/
    .log-page {
        background-image: url("../../cat.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        text-align: center;
        min-height: 500px;
        color: white;
        font-family:"Hanzipen SC";
    }

    .row {
        padding: 7%;
    }

    /*the logging in table*/
    .log-page .log-toggle {
        background-image: url("../../log-bg.png");
        background-size: cover;
    }

    .log-page .panel {
        background-image: url("../../cat.png");
        background-color: #eb502f;
        background-size: cover;
        position: center;
        border-radius: 7px;
        border-width: 0.5px;
        border-color: black;
    }

    .log-page .form-group{
        margin:7%;
    }

    .log-page .pwd{
        color: white;
        font-size: 80%;
    }

    .log-page .pwd:hover{
        cursor:pointer;
    }

    #signup {
        color: rgb(288,196,88);
        font-size: 20px;
        text-decoration: underline;
    }

    #signup:hover{
        color: blue;
        cursor:pointer;
    }


    /*modal*/
    .log-page .modal{
        position:center;
        color:black;
    }
</style>


<div class="log-page ">
    <div class="row">
         <div class="col-xs-3"></div>
         <div class="col-xs-6">
             <div class="log-toggle">
                 <div class="panel">

                     @*<p>Don't have an account?</p>*@
                     <div class="panel-body">
                         <div class="form-group">
                             @*<label class="text-left">EMAIL ADDRESS</label>*@
                             <p class="text-left">EMAIL ADDRESS</p>
                             <input type="email" class="form-control" id="usr">
                         </div>
                         <div class="form-group text-left">
                             @*<label for="pwd" class="text-left">PASSWORD</label>*@
                             <p>PASSWORD</p>
                             <input type="password" class="form-control" id="pwd">
                             <a  class="pwd" data-toggle="modal" data-target="#signedModal">Already have an account?</a>
                         </div>
                         <button type="submit" class="btn btn-warning" id="log">Sign up Now</button>
                     </div>
                 </div> 
             </div>
         </div>
        <div class="col-xs-3"></div>
    </div>




    <!-- Modal -->
    <div class="modal fade" id="signedModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">LOG IN NOW</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @*<label class="text-left">EMAIL ADDRESS</label>*@
                        <p class="text-left">EMAIL ADDRESS</p>
                        <input type="email" class="form-control" id="usr">
                    </div>
                    <div class="form-group">
                        @*<label for="pwd" class="text-left">PASSWORD</label>*@
                        <p class="text-left">PASSWORD</p>
                        <input type="password" class="form-control" id="pwd">
                    </div>
                    <button type="submit" class="btn btn-info" id="log">LOG IN</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


</div>